absl-py==2.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
alembic==1.13.1
annotated-types==0.6.0
arch==7.0.0
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
Brotli==1.1.0
captum==0.7.0
catboost==1.2.5
category-encoders==2.6.3
certifi==2023.11.17
chardet==5.2.0
charset-normalizer==3.3.2
clarabel==0.9.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.0.0
clustergram==0.8.1
cmdstanpy==1.2.4
colorama==0.4.6
colorlog==6.8.2
comet-ml==3.39.2
comm==0.1.4
configobj==5.0.8
contourpy==1.2.0
cvxpy==1.5.2
cycler==0.12.1
Cython==3.0.11
dacite==1.8.1
dash==2.15.0
dash-bootstrap-components==1.3.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash_colorscales==0.0.4
dash_daq==0.5.0
debugpy==1.8.0
decorator==5.1.1
distlib==0.3.8
docopt==0.6.2
docutils==0.20.1
dtale==3.10.0
dulwich==0.21.7
ecos==2.0.14
et-xmlfile==1.1.0
everett==3.1.0
exceptiongroup==1.1.3
executing==2.0.1
fastjsonschema==2.19.0
filelock==3.15.4
fiona==1.9.6
Flask==2.2.5
Flask-Compress==1.14
flask-ngrok==0.0.25
fonttools==4.45.1
frozenlist==1.4.1
fsspec==2024.6.1
future==0.18.3
geographiclib==2.0
geopandas==0.14.4
geopy==2.4.1
graphviz==0.20.3
greenlet==3.0.3
grpcio==1.66.1
holidays==0.56
htmlmin==0.1.12
hyperopt==0.2.7
idna==3.6
ImageHash==4.3.1
imbalanced-learn==0.12.2
importlib-metadata==6.8.0
importlib-resources==6.1.1
ipykernel==6.26.0
ipython==8.17.2
ipywidgets==8.1.2
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
joblib==1.3.2
Js2Py==0.74
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
jupyter_client==8.5.0
jupyter_core==5.5.0
jupyterlab_widgets==3.0.10
kaleido==0.2.1
kiwisolver==1.4.5
lightning-utilities==0.11.7
llvmlite==0.41.1
lxml==5.3.0
lz4==4.3.3
Mako==1.3.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
missingno==0.5.2
mpmath==1.3.0
multidict==6.0.5
multimethod==1.11
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.2.1
neuralprophet==0.9.0
numba==0.58.1
numpy==1.25.2
nyoka==5.5.0
openpyxl==3.1.2
optuna==3.6.1
osqp==0.6.7.post1
packaging==23.2
pandas==2.1.3
parso==0.8.3
patsy==0.5.6
phik==0.12.4
Pillow==10.1.0
pipwin==0.5.2
platformdirs==3.11.0
plotly==5.18.0
pmdarima==2.0.4
prompt-toolkit==3.0.39
prophet==1.1.5
protobuf==5.28.0
psutil==5.9.6
psycopg2==2.9.9
PuLP==2.9.0
pure-eval==0.2.2
py4j==0.10.9.7
pydantic==2.6.1
pydantic_core==2.16.2
Pygments==2.16.1
pyjsparser==2.7.1
pyparsing==3.1.1
PyPrind==2.11.3
pyproj==3.6.1
pySmartDL==1.3.4
pyTelegramBotAPI==4.26.0
python-box==6.1.0
python-dateutil==2.8.2
pytorch-lightning==2.4.0
pytz==2023.3.post1
PyWavelets==1.5.0
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.1
qdldl==0.1.7.post4
referencing==0.31.1
requests==2.31.0
requests-toolbelt==1.0.0
retrying==1.3.4
rich==13.7.1
rpds-py==0.13.2
schedule==1.2.1
scikit-learn==1.4.1.post1
scipy==1.11.4
scs==3.2.6
seaborn==0.13.2
semantic-version==2.10.0
sentry-sdk==1.44.0
shapely==2.0.4
simplejson==3.19.2
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.30
squarify==0.4.3
stack-data==0.6.3
stanio==0.5.1
statistics==1.0.3.5
statsmodels==0.14.1
strsimpy==0.2.1
sweetviz==2.3.1
sympy==1.13.1
tangled-up-in-unicode==0.2.0
tenacity==8.2.3
tensorboard==2.17.1
tensorboard-data-server==0.7.2
threadpoolctl==3.3.0
torch==2.4.0
torchmetrics==1.4.1
tornado==6.3.3
tqdm==4.66.2
traitlets==5.13.0
typeguard==4.1.5
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
urllib3==2.1.0
virtualenv==20.26.4
visions==0.7.5
wcwidth==0.2.9
websocket-client==1.3.3
Werkzeug==3.0.1
widgetsnbextension==4.0.10
wordcloud==1.9.3
wrapt==1.16.0
wurlitzer==3.0.3
xarray==2024.1.1
xgboost==2.1.1
xlrd==2.0.1
yarl==1.9.7
ydata-profiling==4.6.4
yellowbrick==1.5
zipp==3.17.0
